<h1>Drug: <%= @order.name %> </h1>
<p> Order: <b><%= @order.name %></b></p>
<p> Pickup name: <%= @order.pickup_name %></p>
<p> Pickup Address: <%= @order.pickup_address%></p>
<p> Pickup Contact: <%= @order.pickup_phone_number%></p>
<p> Pickup Business: <%= @order.pickup_business_name%></p>
<p> Aditional notes:</br> <%= @order.pickup_notes%></p>
</br>
</br>
<p> <%= @order.dropoff_name %></p>
<p> <%= @order.dropoff_address %></p>
<p> <%= @order.dropoff_phone_number %></p>
<p> <%= @order.dropoff_business_name %></p>
<p> <%= @order.dropoff_notes %></p>

