<!DOCTYPE html>
<html>
<head>
  <title>PharmaNow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="nav">
    <ul>
      <li><%= link_to "Sign out", orders_path %></li> <!-- change -->
    </ul>
  </div>
  <div id="logo">
    <%= link_to image_tag("logo1.png"), orders_path %>
  </div>

<%= yield %>

</body>
</html>
